@charset "UTF-8";
/*レスポンシブ*/
body {
  background-color: #F5F0E4;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.sec-title {
  font-size: 2.25rem;
  margin-bottom: 30px;
  margin-top: 60;
}
@media screen and (max-width: 480px) {
  .sec-title {
    margin: 30px 0 15px;
    text-align: center;
  }
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 4%;
  /* 左右の余白を4%に設定 */
}

.content {
  width: 50%;
  padding: 0 2%;
  font-size: 1.25rem;
}
@media screen and (max-width: 480px) {
  .content {
    width: 100%;
  }
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 10px 4%;
  background-color: #935d2a;
  position: fixed;
  width: 100%;
  /* 画面幅いっぱいにするために必要 */
  z-index: 10;
  align-items: center;
}
#header .logo a {
  display: flex;
}
#header .logo a img {
  width: 200px;
}
@media screen and (max-width: 480px) {
  #header .logo a img {
    width: 120px;
  }
}
#header #navi {
  display: flex;
  align-items: center;
}
#header #navi .navi-menu {
  display: flex;
  /*SP,tb時ハンバーガーメニューを表示するため非表示*/
}
@media screen and (max-width: 768px) {
  #header #navi .navi-menu {
    display: none;
  }
}
#header #navi .navi-menu li {
  padding-right: 30px;
  font-size: 1.5rem;
}
#header #navi .navi-menu a {
  display: inline-block;
}
#header #navi .navi-menu a:hover {
  transform: scale(1.25);
}

/*------- 
toggleボタン sp時表示
--------*/
#mask {
  display: none;
  transition: all 0.5s;
}

.toggle-btn {
  display: none;
  transition: all 0.5s;
}
@media screen and (max-width: 768px) {
  .toggle-btn {
    width: 40px;
    height: 40px;
    z-index: 20;
    position: relative;
    cursor: pointer;
    display: block;
  }
  .toggle-btn span {
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    background-color: #000;
    transition: all 0.5s;
  }
  .toggle-btn span:nth-child(1) {
    top: 22%;
  }
  .toggle-btn span:nth-child(2) {
    top: 50%;
  }
  .toggle-btn span:nth-child(3) {
    top: 78%;
  }
}

/*sp時表示するナビメニュー*/
#navi-sp {
  display: none;
  transition: all 0.5s;
}
@media screen and (max-width: 768px) {
  #navi-sp {
    display: block;
    position: fixed;
    width: 300px;
    height: 100%;
    top: 0;
    padding: 60px 40px;
    z-index: 20;
    font-size: 1.5rem;
    opacity: 0;
    background-color: #935d2a;
    left: -300px;
  }
  #navi-sp a {
    color: #fff;
  }
}

/*open付与時のコード*/
/*display: none; ⇔ display: block; の切り替えはtransitionできません。
visibilityやopacity、transformなど、数値で変化するプロパティで切り替える必要があります。*/
.open #navi-sp {
  opacity: 1;
  left: 0;
}
.open .toggle-btn span {
  background-color: #fff;
}
.open .toggle-btn span:nth-child(1) {
  top: 50%;
  transform: rotate(-315deg);
}
.open .toggle-btn span:nth-child(2) {
  opacity: 0;
}
.open .toggle-btn span:nth-child(3) {
  top: 50%;
  transform: rotate(315deg);
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #121212;
  opacity: 0.7;
  z-index: 10;
  cursor: pointer;
}

main {
  /*並び順を逆にする*/
}
main #mainvisual {
  padding-top: 80px;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  main #mainvisual {
    padding-top: 0px;
  }
}
main #mainvisual img {
  position: relative;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 480px) {
  main #mainvisual img {
    height: 80vh;
  }
}
main #mainvisual p {
  color: white;
  font-size: 3rem;
  position: absolute;
  top: 60%;
  left: 7%;
}
@media screen and (max-width: 480px) {
  main #mainvisual p {
    font-size: 2rem;
    top: 55%;
    left: 10%;
  }
}
main #pickup {
  text-align: center;
  margin-bottom: 100px;
}
@media screen and (max-width: 480px) {
  main #pickup {
    margin-bottom: 60px;
  }
}
main #pickup .slide-items {
  width: 100%;
  height: 100%;
}
main #pickup .slide-items img {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
}
main #concept {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  main #concept {
    flex-direction: column;
    width: 100%;
  }
}
main #concept img {
  width: 50%;
}
@media screen and (max-width: 480px) {
  main #concept img {
    width: 100%;
  }
}
main #drink,
main #food {
  display: flex;
  margin-top: 60px;
}
main #drink dl,
main #food dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main #drink dl dt,
main #food dl dt {
  width: 60%;
  text-align: left;
}
main #drink dl dd,
main #food dl dd {
  width: 40%;
  text-align: right;
}
main #drink img,
main #food img {
  width: 50%;
  height: 330px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 480px) {
  main #drink img,
  main #food img {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  main #drink {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 480px) {
  main #food {
    flex-direction: column;
  }
}
main #location {
  display: flex;
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  main #location {
    flex-direction: column;
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  main #location iframe {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  main #location .content {
    width: 100%;
  }
}
main #location .content dl {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  main #location .content dl {
    margin: 20px 0 40px;
  }
}
@media screen and (max-width: 480px) {
  main #location .content dl {
    font-size: 1rem;
  }
}
main #location .content dl dt {
  width: 50%;
}
main #location .content dl dd {
  width: 50%;
}

footer {
  text-align: center;
  padding: 30px 0;
}
footer #sns {
  justify-content: center;
  display: flex;
  gap: 20px;
}

.slick-slide {
  margin: 0 15px;
}

.slick-prev:before,
.slick-next:before {
  color: #000;
}

/*レスポンシブ対応で矢印を画面内に表示調整*/
@media screen and (max-width: 480px) {
  .slick-prev {
    left: 0;
    z-index: 1;
  }
}

@media screen and (max-width: 480px) {
  .slick-next {
    right: 0;
  }
}/*# sourceMappingURL=style.css.map */
